################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NumbersService
**/bin/*
**/obj/*
/UnitTest/bin/Debug/UnitTest.dll
/UnitTest/bin/Debug/UnitTest.pdb
/UnitTest/bin/Debug/WebApi.exe
/UnitTest/bin/Debug/WebApi.pdb
/UnitTest/obj/Debug/UnitTest.csproj.AssemblyReference.cache
/UnitTest/obj/Debug/UnitTest.csproj.FileListAbsolute.txt
/UnitTest/obj/Debug/UnitTest.dll
/UnitTest/obj/Debug/UnitTest.pdb
/WebApi/bin/Debug/WebApi.exe
/WebApi/bin/Debug/WebApi.pdb
/WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApi/obj/Debug/WebApi.csproj.AssemblyReference.cache
/WebApi/obj/Debug/WebApi.csproj.FileListAbsolute.txt
/WebApi/obj/Debug/WebApi.exe
/WebApi/obj/Debug/WebApi.pdb
